@import "styles/App.css";
@import "./components/Home/Home.css";
@import "./components/Navbar/Navbar.css";
@import "./components/Navbar/SearchBar.css";
@import "./components/FormField/FormField.css";
@import "./components/Signup/Signup.css";
@import "./components/VideoUpload/VideoUpload.css";
@import "./components/VideoPlay/VideoPlay.css";
@import "./components/Footer/Footer.css";
@import "./components/Signin/Signin.css";
@import "./components/ContactUs/ContactUs.css";
@import "./components/Category/Category.css";
@import "./components/CategoryCard/CategoryCard.css";
@import "./components/Admin/Admin.css";
@import "./components/AccountRequest/AccountRequest.css";
@import "./components/VideoRequest/VideoRequest.css";
@import "./components/UserAccountComponent/UserAccountComponent.css";
@import "./components/Comments/Comments.css";
@import "./components/VideoPosterChange/VideoPosterChange.css";
@import "./components/FeaturedVideo/FeaturedVideo.css";
@import "./components/RecentVideos/RecentVideos.css";
@import "./components/UserInfo/UserInfo.css";
@import "./components/Messages/Messages.css";
@import "./components/CategoryResult/CategoryResult.css";
@import "./components/Loading/Loading.css";
@import "./components/Notifications/Notifications.css";
@import "./components/SearchResult/SearchResult.css";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}
